.app-body {
    flex: 1;
    position: relative;
}
.map-container { width: 100%; height: 100%;}

:host {
    display: block;
    height: 100%;
    width: 100%;
}

.map {
    height: 100%;
    width: 100%;
}
