
    <!-- Header -->
    <header class="app-header">
        <div class="header-left">
            <img src="assets/logo.png" alt="Logo" class="header-logo" />
        </div>

        <div class="header-title">
            Roundwood Production Forecast 2021–2040
        </div>

        <button (click)="openModal()">Select Point</button>
    </header>

    <!-- Map + sidebar container -->
    <div class="app-container">
        <app-map class="map-container"></app-map>
    </div>


    <!-- Modal -->
    <div class="modal" *ngIf="modalOpen">
        <h4>Select a point on the map</h4>
        <div>
            <label>Latitude:</label>
            <input type="text" [value]="lat" readonly>
        </div>
        <div>
            <label>Longitude:</label>
            <input type="text" [value]="lon" readonly>
        </div>
        <button (click)="submit()">Submit</button>
        <button (click)="closeModal()">Close</button>
        <button
                class="btn primary"
                (click)="showReportModal = true"
                [disabled]="!reportData"
        >
            View Report
        </button>
    </div>


    <div class="report-backdrop" *ngIf="showReportModal">
        <div class="report-modal">

            <div class="modal-header">
                <h3>Report</h3>
                <button class="close-btn" (click)="showReportModal = false">✕</button>
            </div>

            <div class="modal-body">
                <app-pivot-report *ngIf="reportData" [data]="reportData"></app-pivot-report>
            </div>

        </div>
    </div>





    <div class="map-search">

        <div class="search-input-wrapper">
            <input
                    type="text"
                    placeholder="Search county…"
                    [(ngModel)]="searchText"
                    (input)="onSearchChange(searchText)"
            />

            <!-- Clear (X) button -->
            <button
                    *ngIf="searchText"
                    class="clear-btn"
                    (click)="clearSearch()"
            >
                ✕
            </button>
        </div>

        <!-- Autocomplete dropdown -->
        <ul *ngIf="filteredCounties.length && searchText" class="autocomplete">
            <li
                    *ngFor="let county of filteredCounties"
                    (click)="selectCounty(county)"
            >
                {{ county }}
            </li>
        </ul>

    </div>
